.list {
    display: flex;
    flex-direction: column;
}

.cards {
    display: grid;
    max-width: 1240px;
    margin: 70px auto 30px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.cards__more {
    cursor: pointer;
    margin: 50px auto 80px;
    width: 320px;
    min-height: 36px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    border: 1px solid #E8E8E8;
    background-color: #ffffff;
}

.cards__more:hover {
    background-color: #E8E8E8;
}

@media screen and (max-width: 1112px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 912px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 721px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 442px) {
    .cards {
        padding: 0 10px;
        margin-top: 40px;
    }

    .cards__more {
        width: 240px;
    }
}