.card {
    width: 270px;
    height: 218px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
}

.card__image {
    height: 151px;
    object-fit: cover;
}

.card__info {
    display: flex;
    justify-content: space-between;
}

.card__subtitle {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    margin: 14px 0 0 12px;
}

.card__cont {
    width: 20px;
    margin: 14px 10px 0;
    position: relative;
}

.card__cont input {
    display: none;
}

.card__radio {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F9F9F9;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.09);
    width: 16px;
    height: 16px;
    border-radius: 50px;
}

.card__delete {
    cursor: pointer;
    background-image: url(../../images/cross.svg);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 16px;
    height: 16px;
    align-self: flex-end;
    margin: 10px 10px 0 0;
}

.card__delete:hover {
    opacity: 0.6;
}

input:checked + .card__radio {
    background-color: #2BE080;
}

.card__duration {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
    margin: 10px 0 12px 12px;
}

@media screen and (max-width: 912px) {
    .card {
        height: 257px;
        width: 339px;
    }
}

@media screen and (max-width: 350px) {
    .card {
        height: 235px;
        width: 300px;
    }
}