.register {
    font-family: 'Inter', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 358px;
    margin: 60px auto 100px;
}

.register__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin: 0;
    align-self: flex-start;
}

.register__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
}

.register__signin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register__signin p {
    margin: 0 5px 0 0;
}

.register__login-link {
    color: #3456F3;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.register__login-link:hover {
    opacity: 60%;
}

.register__quest {
    color: #A0A0A0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.register__button {
    color: #ffffff;
    background: #3456F3;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    min-height: 50px;
    cursor: pointer;
    margin: 122px auto 16px;
    padding: 0;
    width: 100%;
    border: none;
    border-radius: 3px;
}

.register__button:hover {
    opacity: 60%;
}

.register__input {
    margin: 0 0 30px 0;
    padding: 0;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    min-height: 32px;
    background-color: transparent;
    border-bottom: 1px solid #E8E8E8;
}

.register__label {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
}

@media screen and (max-width: 412px) {
    .register {
        margin: 50px auto 30px;
        padding: 0 30px;
    }

    .register__title {
        align-self: center;
    }

    .register__button, .register__quest, .register__login-link {
        font-size: 12px;
        line-height: 15px;
    }
}
