.login {
    font-family: 'Inter', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 358px;
    margin: 40px auto 100px;
}

.login__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin: 0;
    align-self: flex-start;
}

.login__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
}

.login__signin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__error {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FF3055;
}

.login__signin p {
    margin: 0 5px 0 0;
}

.login__link {
    color: #3456F3;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.login__link:hover {
    opacity: 60%;
}

.login__quest {
    color: #A0A0A0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.login__button {
    color: #ffffff;
    background: #b9b9b9;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    min-height: 50px;
    cursor: pointer;
    margin: 122px auto 16px;
    padding: 0;
    width: 100%;
    border: none;
    border-radius: 3px;
}

.login__active {
    background: #3456F3;
}

.login__button:hover {
    opacity: 60%;
}

.login__input {
    margin: 0 0 6px 0;
    padding: 0;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    min-height: 32px;
    background-color: transparent;
    border-bottom: 1px solid #E8E8E8;
}

.login__label {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    margin-top: 24px;
}

@media screen and (max-width: 412px) {
    .login {
        margin: 50px auto 30px;
        padding: 0 30px;
    }

    .login__title {
        align-self: center;
    }

    .login__button, .login__quest, .login__link {
        font-size: 12px;
        line-height: 15px;
    }
}
